div.main {
    background-color: whitesmoke;
    width: 650px;
    height: 500px;
    border: 10px solid black;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

#heading {
    color: crimson;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.leftlogo {
    height: 100px;
    width: 100px;
    float: left;
}

.rightlogo {
    height: 100px;
    width: 100px;
    float: right;
}
div.afterheading {
    padding-bottom: 20px;
}
div.lefthangingtextafterbody {
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
}
div.righthangingtextafterbody {
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
}
.signature {
    height: 150px;
    width: 150px;
    padding-left: 10px;
}